a {
    text-decoration: none;
}

@function rem($px) {
    //$px为需要转换的大小
    @return $px / 108px * 1rem; // 108为移动端的分辨率
}

.header {
    display: flex;
    align-items: center;
    height: rem(134px);
    padding-left: rem(40px);
    padding-right: rem(30px);
    background-color: #fafafa;
    img {
        flex: 1;
        width: rem(76px);
        height: rem(50px);
    }
    .middle {
        display: block;
        flex: 8;
        height: rem(40px);
        font-size: rem(36px);
        padding: rem(20px) 0;
        color: #b3b3b3;
        padding-left: rem(95px);
        margin-left: rem(36px);
        border-radius: rem(3px);
        border: 1px solid #e5e5e5;
        background: url(../images/search_df67e2f.png) no-repeat;
        background-size: 100% 100%;
    }
    .login {
        flex: 1;
        width: rem(80px);
        height: rem(36px);
        margin-left: rem(36px);
        font-size: rem(36px);
        a {
            color: #9d9d9d;
        }
    }
}

.nav {
    height: rem(88px);
    padding-left: rem(46px);
    padding-right: rem(153px);
    ul {
        display: flex;
        height: rem(88px);
        align-items: center;
        font-size: rem(34px);
        li {
            flex: 1;
            text-align: center;
            >a {
                display: inline-block;
                padding-top: rem(24px);
                padding-bottom: rem(24px);
                color: #747474;
            }
            &.active {
                a {
                    border-bottom: 2px solid #ee5b00;
                    color: #ee5b00;
                }
            }
        }
    }
}

main {
    /* 推荐 */
    .tuijian {

        .lunbotu {
            position: relative;
            img {
                height: rem(538px);
                width: 100%;
                height: 100%;
            }

            .point {
                display: flex;
                position: absolute;
                right: rem(56px);
                bottom: rem(20px);
                height: rem(16px);
                li {
                    flex: 1;
                    width: rem(16px);
                    height: rem(16px);
                    border-radius: 50%;
                    margin-right: rem(30px);
                    background-color: #ceb9a1;
                    &.active {
                        background-color: #fbfbfc;
                    }
                }
            }
        }
        .wuliu {
            display: flex;
            height: rem(230px);
            a {
                display: block;
                width: 25%;
                img {
                    width: 100%;
                }
            }
        }
        .title1 {
            display: flex;
            align-items: center;
            img {
                height: rem(107px);
            }
            .span {
                color: #b2b2b2;
                font-size: rem(40px);
                margin-right: rem(30px);
                margin-left: rem(30px);
            }
            .div {
                font-size: rem(34px);
                color: #010101;
            }
        }
        .shadow {
            height: rem(20px);
            background-color: #f5f5f5;
        }
        .tupian {
            display: flex;
            font-size: 0;

            .big {
                flex: 1;
                height: rem(759px);
                img {
                    height: rem(759px);
                }
                margin-right:rem(5px);
            }
            .small {
                flex: 1;
                img {
                    height: rem(379px);
                    &.active {
                        margin-bottom: rem(6px);
                    }
                }
            }
        }
        .air {
            img {

                height: rem(417px);
            }
        }
        .lei {
            img {
                height: rem(658px);
            }
            margin-bottom:rem(5px);
        }
        .danpin {
            display: flex;
            flex-wrap: wrap;
            a {
                position: relative;
                display: block;
            }
            .left {
                margin-right: 2px;
            }
            .big {
                height: rem(535px);
            }
            .small {
                position: absolute;
                height: rem(50px);
                top: 0;
                left: 0;
            }
            .name {
                padding-left: rem(43px);
                margin-top: rem(43px);
                margin-bottom: rem(28px);
                font-size: rem(42px);
                color: #212121;
            }
            .h2 {
                padding-left: rem(43px);
                margin-bottom: rem(30px);
                font-size: rem(34px);
                color: #b1b1b1;
            }
            .h3 {
                padding-left: rem(43px);
                margin-bottom: rem(37px);
                font-size: rem(36px);
                line-height: rem(36px);
                color: #fd6201;
                font-weight: bold;
                &::before {
                    content: '￥';
                    vertical-align: top;
                    margin-right: rem(12px);
                    font-size: rem(22px);
                    color: #fd6201;
                }
                span {
                    font-size: rem(30px);
                    text-decoration: line-through;
                    color: #757575;
                    &::before {
                        content: '￥';
                        vertical-align: top;
                        font-size: rem(22px);
                        margin-left: rem(12px);
                        margin-right: rem(12px);
                        color: #757575;
                        text-decoration: none;
                    }
                }
            }
            .qi {
                &::after {
                    content: '起';
                    font-size: rem(28px);
                    margin-left: rem(20px);
                }
            }
            .more {
                height: rem(146px);
                line-height: rem(146px);
                width: 100%;
                text-align: center;
                color: #666;
            }
        }
        .zhineng {
            >div {
                display: flex;
                height: rem(541px);
                >a {
                    flex: 1;
                    display: block;
                    position: relative;
                    .small {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: rem(50px);
                    }
                    .big {

                        height: rem(541px);
                    }
                }
                .jieshao {
                    flex: 1;
                    .name {
                        margin: rem(110px) rem(30px) rem(28px) rem(50px);

                        font-size: rem(42px);
                        color: #212121;
                    }
                    .h2 {
                        margin: 0 rem(30px) rem(55px) rem(50px);
                        line-height: rem(50px);
                        font-size: rem(34px);
                        color: #b1b1b1;
                    }
                    .h3 {

                        margin: 0 rem(30px) rem(37px) rem(50px);
                        font-size: rem(36px);
                        line-height: rem(36px);
                        color: #fd6201;
                        font-weight: bold;
                        &::before {
                            content: '￥';
                            vertical-align: top;
                            margin-right: rem(12px);
                            font-size: rem(22px);
                            color: #fd6201;
                        }
                        span {
                            font-size: rem(30px);
                            text-decoration: line-through;
                            color: #757575;
                            &::before {
                                content: '￥';
                                vertical-align: top;
                                font-size: rem(22px);
                                margin-left: rem(12px);
                                margin-right: rem(12px);
                                color: #757575;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .more {
                display: block;
                height: rem(146px);
                line-height: rem(146px);
                width: 100%;
                text-align: center;
                color: #666;
            }
        }
        .fenlei {
            >div {
                display: flex; // justify-content: space-between;
                margin-bottom: rem(5px);
            }
            .left {
                display: block;
                height: rem(719px);
                img {
                    height: rem(719px);
                }
                margin-right: rem(5px);
            }
            .right {
                display: block;
                height: rem(719px);
                img {
                    height: rem(719px);
                }
            }
        }
    }
}

.small-shadow {
    height: rem(5px);
    background-color: #f5f5f5;
}

footer {
    display: flex;
    justify-content: space-between;
    height: rem(132px);
    padding: 0 rem(106px);
    align-items: center;
    img {
        height: rem(94px);
    }
}