@charset "UTF-8";
a {
  text-decoration: none;
}

.container {
  background-color: #f9f9f9;
  /* 头部 */
  /* 主体 */
}

.container header {
  padding-top: 0.74074rem;
  color: #666;
  font-size: 0.46296rem;
  text-align: center;
}

.container main {
  margin-top: 0.7963rem;
  padding: 0 0.55556rem;
}

.container main form span {
  display: block;
  font-size: 0.35185rem;
  color: #333;
  margin-bottom: 0.24074rem;
}

.container main form > div:nth-child(1) {
  width: 100%;
}

.container main form > div:nth-child(1) > div {
  display: flex;
  position: relative;
  border: 1px solid #aeaeae;
  border-radius: 0.27778rem;
}

.container main form > div:nth-child(1) > div input {
  height: 1.14815rem;
  margin-left: 0.44444rem;
  color: #555;
  border: 0;
  outline: none;
  border-right: 1px solid #aeaeae;
  font-size: 0.35185rem;
  background-color: #f9f9f9;
  padding-right: 2.40741rem;
}

.container main form > div:nth-child(1) > div > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
}

.container main form > div:nth-child(1) > div > div .iconfont {
  line-height: 1.14815rem;
  font-size: 0.51852rem;
  text-align: center;
}

.container main form > div:nth-child(1) .zhuyi {
  margin-top: 0.24074rem;
  color: #9d9d9d;
  margin-bottom: 0.64815rem;
}

.container main form > div:nth-child(2) {
  width: 100%;
  margin-bottom: 0.5rem;
}

.container main form > div:nth-child(2) > div {
  display: flex;
  position: relative;
  border: 1px solid #aeaeae;
  border-radius: 0.27778rem;
}

.container main form > div:nth-child(2) > div input {
  height: 1.14815rem;
  padding-left: 0.33333rem;
  color: #555;
  border: 0;
  outline: none;
  font-size: 0.35185rem;
  border-left: 1px solid #aeaeae;
  background-color: #f9f9f9;
  margin-left: 1.66667rem;
}

.container main form > div:nth-child(2) > div > div {
  position: absolute;
  top: 0;
  left: 0;
  color: #555;
  width: 20%;
  text-align: center;
}

.container main form > div:nth-child(2) > div > div .iconfont {
  font-size: 0.51852rem;
  color: #9d9d9d;
  line-height: 1.14815rem;
  vertical-align: middle;
}

.container main form > div:nth-child(3) {
  width: 100%;
  margin-bottom: 1.66667rem;
}

.container main form > div:nth-child(3) > div {
  display: flex;
  border-radius: 0.27778rem;
}

.container main form > div:nth-child(3) > div input {
  height: 1.14815rem;
  padding-left: 0.37037rem;
  color: #555;
  border: 0;
  border-radius: 0.27778rem;
  outline: none;
  font-size: 0.35185rem;
  border: 1px solid #aeaeae;
  background-color: #f9f9f9;
  margin-right: 0.21296rem;
}

.container main form > div:nth-child(3) > div img {
  height: 1.14815rem;
}

.container main form > div:nth-child(4) {
  width: 100%;
  display: flex;
  border-radius: 0.27778rem;
}

.container main form > div:nth-child(4) input {
  width: 100%;
  height: 1.2037rem;
  border: 0;
  border-radius: 0.27778rem;
  outline: none;
  font-size: 0.38889rem;
  color: #fff;
  background-color: #32b5fe;
}

.container footer {
  padding: 0 0.55556rem;
  margin-top: 0.37037rem;
}

.container footer > div:nth-child(1) {
  font-size: 0.38889rem;
  line-height: 0.55556rem;
  margin-bottom: 1.57407rem;
}

.container footer > div:nth-child(1) a {
  color: #333;
  font-weight: bold;
}

.container footer ul {
  display: flex;
  font-size: 0.37037rem;
  color: #757575;
  padding: 0 0.92593rem;
}

.container footer ul li {
  padding: 0 0.30556rem;
}

.container footer ul .jianti {
  color: #333;
}

.container footer .bot {
  margin-top: 0.46296rem;
  font-size: 0.37037rem;
  color: #757575;
  text-align: center;
  line-height: 0.55556rem;
}

.container footer .bot a {
  color: #757575;
}

.container footer .bot a img {
  height: 0.55556rem;
}
